---
<!-- title: Index page -->
gallery:
 - image: ../../img/item-1.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
 - image: ../../img/ic-cart.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
 - image: img/ic-setting.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
 - image: ../../img/ic-user.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
 - image: ../../img/ic-edit.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
 - image: ../../img/ic-email.png
   text: Lorem ipsum is simply dummy
   descr: Lorem ipsum is simply dummy text of the printing and typesetting industry
---

{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- {# variable example #} -->
	<!-- <h1>{{title}}</h1> -->

    <!-- <h2>Hello</h2> -->
	
	
	{% include "partials/_header.html" %}
	
	
	{% include "partials/_content.html" %}

	
	{% include "partials/_footer.html" %}

	<!-- {# mixin example #}
	{{mixins.icon('facebook')}} -->

	<!-- {# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}
 -->
{% endblock %}
