<!-- begin works  -->
	<div class="works">
		<div class="container">
			<h2 class="works__title">How it works</h2>
			<h3 class="works__titles">Lorem ipsum is simply</h3>
			<div class="works__gallery">
				<div class="item">
					<div class="item__icon item__icon-food"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>

				<div class="item">
					<div class="item__icon item__icon-cart"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>
				<div class="item">
					<div class="item__icon item__icon-setting"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>
				<div class="item">
					<div class="item__icon item__icon-user"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>
				<div class="item">
					<div class="item__icon item__icon-edit"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>
				<div class="item">
					<div class="item__icon item__icon-email"></div>
					<h3 class="item__title">{{text}}</h3>
					<div class="item__description">
						{{descr}}
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end works  -->
	<!-- begin notification  -->
	<div class="notification">
		<div class="container">
			<h2 class="notification__title">Receive notification now</h2>
			<p class="notification__description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Lorem ipsum dolor.
			</p>
			<form action="" class="notification__form">
				<input type="email" name="email" placeholder="Your email address ...">
				<button class="btn btn-ready" data-text="I’m ready!">
					<span>I</span>
					<span>’</span>
					<span>m</span>
					<span>&nbsp;</span>
					<span>r</span>
					<span>e</span>
					<span>a</span>
					<span>d</span>
					<span>y</span>
					<span>!</span>
				</button>
			</form>
		</div>
	</div>
	<!-- end notification  -->