<!--begin footer  -->
<div class="footer">
	<div class="line"></div>
	<div class="container">
		<div class="content-bottom">
			<div class="content-bottom__left">
				<p class="content-bottom__copyright">
					Copyright by Comtruavip 2017
				</p>
			</div>
			<div class="content-bottom__right">
				<div class="social">
					<a href="#" class="social-icon">
						{{mixins.icon('face')}}
						<!-- <img src="../../img/ic-face.svg" alt="facebook" class="facebook"> -->
	   				</a>
					<a href="#" class="social-icon">
						{{mixins.icon('google-plus')}}
						<!-- <img src="../../img/ic-google-plus.svg" alt="google" class="google"> -->
					</a>
					<a href="#" class="social-icon">
						{{mixins.icon('instagram')}}
						<!-- <img src="../../img/ic-instagram.svg" alt="instagram" class="instagram"> -->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->