<!-- begin footer  -->
	<div class="footer">
		<div class="line"></div>
		<div class="container">
			<div class="footer__content">
				<div class="footer__left">
					<p>
						Copyright by Comtruavip 2017
					</p>
				</div>
				<div class="footer__right">
					<a href="#" class="social-icon">
						<img src="img/ic-face.png" alt="facebook" class="facebook"></a>
					<a href="#" class="social-icon">
						<img src="img/ic-google-plus.png" alt="google" class="google"></a>
					<a href="#" class="social-icon">
						<img src="img/ic-instagram.png" alt="instagram" class="instagram"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer  -->