<!-- <p>Helloаа from partials/_header.html</p> -->
	<div class="maske">
		<div class="maske__inner"></div>
	</div>
	<!-- begin hero  -->
	<div class="hero">
		<div class="container">
			<div class="header">
				<div class="header__left">
					<div class="logo">
						<img src="img/logo.png" alt="logo"></div>
				</div>
				<div class="header__right">
					<nav class="menu">
						<a href="#">About</a>
						<a href="#">Download</a>
						<a href="#">Workflow</a>
						<a href="#">Support</a>
						<a href="#">User Stories</a>
						<a href="#">Contact</a>
					</nav>
				</div>
			</div>
			<div class="content">
				<div class="content__left">
					<h2 class="h2">Built with app designers in mind</h2>
					<p class="h2-description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
					</p>
					<button class="btn btn_work" data-text="How it work">
						<span>H</span>
						<span>o</span>
						<span>w</span>
						<span>&nbsp;</span>
						<span>i</span>
						<span>t</span>
						<span>&nbsp;</span>
						<span>w</span>
						<span>o</span>
						<span>r</span>
						<span>k</span>
					</button>
				</div>
				<div class="content__right">
					<div class="photo">
						<img src="img/iphone.png" alt="iphone"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header  -->