.icon-face {
  width: 0.55em;
  height: 1em;
  fill: #868686;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-google-plus {
  width: 1.29em;
  height: 1em;
  fill: #868686;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #868686;
}
